<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.143" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="GumroadLicensing" version="2.0.5" targetFramework="net48" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net48" />
  <package id="Kimtoo.Reports" version="1.0.0" targetFramework="net48" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net48" />
</packages>